$color        = #DA272B
$light        = 'RobotoLight'
$lightItalic  = 'RobotoLightItalic'
$mediumItalic = 'RobotoMediumItalic'
$regular      = 'RobotoRegular'
$bold         = 'RobotoBold'
$medium       = 'RobotoMedium'
body
    color #000000
    font-family $regular
    margin 0
    padding 0
    overflow hidden
    overflow-y scroll
p
    margin 0
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items flex-start
transition(css-name)
	-webkit-transition css-name .25s linear
	-moz-transition css-name .25s linear
	-ms-transition css-name .25s linear
	-o-transition css-name .25s linear
	transition css-name .25s linear
input[type='radio']
    &:checked
        &:after
            border 4px solid $color
            content ''
            display inline-block
            width 5px
            height 5px
            border-radius 50%
            background-color #FFFFFF
.jm-concentrador
    background-color #FFFFFF
    padding 30px
    width 100%
    max-width 500px
    margin auto
    h3
        font-size 16px
        line-height 18px
        margin 5px 0
    .jm-medio--pago
        flexCenter()
        border 1px solid #EAEAEA
        border-radius 5px
        margin 10px 0
        padding 10px
        height 55px
        box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        .jm-medio__icon
            width 100%
            max-width: 80px
            text-align center
            margin-right 5px
        .jm-medio__contenido
            width 100%
            h2
                margin 5px 0
                font-weight 100
                font-size 16px
                line-height 18px
                color #5A5A5A
                font-family $bold
            p
                font-family $light
                font-size 14px
                line-height 16px
                span
                    color $color
                    font-family $bold
        .jm-medio__arrow
            width 100%
            max-width 40px
            text-align center
.jm-medio
    .jm-tipo
        display inline-block
        margin 0 5px
        text-align left
        label
            vertical-align middle
            display inline-block
        img 
            width 100%
            max-width 55px